body {
    background-color: black;
}

@font-face {
    font-family: "digital_led";
    src:url('/static/font/CQ-Mono-1.otf');
}

p {
    font-family: "digital_led", sans-serif;
    color: white;
}

#right_bag {
    float: right;
}

/*
#time_block {
    width: 650px;
    height: 300px;
    margin:auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 1s;
}

#time_block #time {
    text-align: center;
    font-size: 10em;
    margin-top: 10px;
    margin-bottom: -30px;
}

#time_block #bot p{
    display: inline;
}

#time_block #date {
    margin-left: 14px;
    font-size: 5em;
}

#time_block #weekday {
    left: 10px;
    font-size: 4.5em;
}
*/

#time_block {
    width: 400px;
    margin-top: 50px;
}

#time_block #time {
    text-align: center;
    font-size: 6em;
    margin-top: 7px;
    margin-bottom: -15px;
}

#time_block #bot p{
    display: inline;
}

#time_block #date {
    margin-left: 10px;
    font-size: 3.4em;
}

#time_block #weekday {
    position: relative;
    left: 10px;
    font-size: 3.4em;
    font-weight: bolder;
}

#weather {
    margin-top: 50px;
    width: 400px;
}

#weather_top {
    display: flex;
}

#weather_left {
    text-align: center;
    width: 200px;
}

#icon {
    filter: invert(100%);
    width: 200px;
}

#text {
    font-size: 3em;
    margin-top: -20px;
    margin-bottom: 10px;
}

#weather_right {
    width: 200px;
    margin-top: 20px;
    margin-left:10px;
}

#weather_right .msg_txt {
    font-size: 1.3em;
    margin-bottom: 3px;
}

#weather_right .msg_temp {
    font-size: 3em;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 10px;
}

#weather_mid p {
    text-align: center;
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pred_block {
    width: 75px;
    text-align: center;
    font-size: 1em;
}

.pred_icon {
    width: 70px;
    filter: invert(100%);
}

.pred_temp {
    margin-top: -5px;
    margin-bottom: 2px;
}

td, tr {
    border: 3px;
    border-color: #cccccc;
    
}
